## mako

<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("Formulario de Contacto")}</%block>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" type="text/css" href="${static.url('eol_contact_form/css/main.css')}"/> 
<% 
data = context.get('data', None) 
%>
<main id="eol-contact" aria-label="Content" tabindex="-1" role="main" class="static_pages mt-0 eol-bg w-100 mx-auto contact-form" style="background-image: url(${static.url('edx-ucursos-theme/images/bg-eol.png')});">
    <div class="container eol-content-container py-2 px-2 mx-auto">
        <div class="row">
            <div class="contact-card col-11 col-md-10 col-lg-8 mx-auto shadow-lg px-5 py-4 mb-5 bg-white rounded-lg">
                <h3 class="contact-header pb-2 mb-0 text-left">Formulario de contacto</h3>
                <p class="contact-availability mt-0 text-right"><small>Horario de atención: Lunes a Viernes de 9:00 a 18:00 Hrs</small></p>
                <p class="contact-info text-center mb-3">Llena el formulario y nuestra mesa de ayuda se pondrá en contacto a la brevedad.</p>
                <form method="POST">
                    % if context.get('send_email_error', None):
                    <div class="alert error">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        <strong>¡Intente nuevamente!</strong><br>Hubo un problema al intentar generar su ticket.<br>Si el problema persiste, envíe un correo a ${help_desk_email}
                    </div>
                    % endif
                    % if context.get('error', None):
                    <div class="alert error">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        <strong>¡Error!</strong> Ingresa un ${context.get('error', None)} válido
                    </div>
                    % endif
                    % if context.get('success', None):
                    <div class="alert success">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        <strong>¡Consulta enviada!</strong>. Espera a que nuestra mesa de ayuda se ponga en contacto contigo.
                    </div>
                    % endif
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>

                    <div class="form-group">
                        <label for="form-rut">Rut o Pasaporte</label>
                        <input type="text" class="form-control" id="form-rut" name="form-rut" required placeholder="Ingrese un rut válido (12345678-9), o pasaporte (P123456789)" value="${data['form-rut']}">
                    </div>
                    <div class="form-group">
                        <label for="form-name">Nombre</label>
                        <input type="text" class="form-control" id="form-name" name="form-name" required placeholder ="Ingresa tu nombre" value="${data['form-name']}">
                    </div>
                    <div class="form-group">
                        <label for="form-email">E-mail</label>
                        <input type="email" class="form-control" id="form-email" name="form-email" required placeholder="Ingresa tu correo electrónico" value="${data['form-email']}">
                    </div>
                    <div class="form-group">
                        <label for="form-type">Tipo de consulta</label>
                        <select class="form-control" id="form-type" required name="form-type" style="text-indent: 0px; height: auto;">
                            <%
                                general_selected = 'selected' if data['form-type'] == 'general' else ''
                                course_selected = 'selected' if data['form-type'] == 'curso' else ''
                                login_selected = 'selected' if data['form-type'] == 'login' else ''
                                other_selected = 'selected' if data['form-type'] == 'otro' else ''
                            %>
                            <option disabled selected value="">Selecciona una opción</option>
                            <option value="general" ${general_selected}>General</option>
                            <option value="curso" ${course_selected}>Dudas de un curso en específico</option>
                            <option value="login" ${other_selected}>Problemas con inicio de sesión</option>
                            <option value="otro" ${other_selected}>Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-course-name" for="form-course">Nombre del curso</label>
                        <input class="form-course-name form-control" type="text" id="form-course" name="form-course" placeholder="Ingresa el nombre del curso con dudas" value="${data['form-course']}">
                    </div>
                    <div class="form-group">
                        <label for="form-message">Describa su problema</label>
                        <textarea class="form-control" id="form-message" name="form-message" required placeholder="Ingresa tus dudas y consultas en este campo de texto" minlength="8">${data['form-message']}</textarea>
                    </div>
                    <center>
                        <div class="google-recaptcha">
                            <div class="g-recaptcha" data-sitekey="${context.get('recaptcha_site_key', None)}" data-callback="correctCaptcha" data-expired-callback="correctCaptcha"></div>
                        </div>
                    </center>
                    
                    <input disabled class="btn btn-primary mx-auto w-100 mt-3 form-submit" type="submit" value="Enviar Consulta">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="${static.url('eol_contact_form/js/main.js')}"></script>
</main>
