<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from lms.djangoapps.courseware.courses import get_course_about_section
from django.conf import settings
from six import text_type
from edxmako.shortcuts import marketing_link
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
from openedx.core.lib.courses import course_image_url

from six import string_types
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>
<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if (xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard') | n, js_escaped_string}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        location.href = "/login?next=/courses/${course.id | u}/about";
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, js_escaped_string}")
        ).css("display", "block");
      }
    });

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">${course.display_name_with_default}</%block>
<style>
  #content.main-container {
    padding: 0px !important;
    margin: 0px !important;
  }

  .eol-course-header {
    display: none;
  }
</style>

<div class="eol-course-about-background">
</div>
<main id="eol-course-about" role="main" class="eol-bg-white w-100 mx-auto" style="background-image: url(${static.url('edx-ucursos-theme/images/bg-eol-white.png')});">
  <div class="container eol-content-container px-2 mx-auto mt-0 pt-3">
      <div class="row">
          <div class="col-lg-5 col-xl-4 order-lg-12 py-3 px-1">
              <div class="row px-0 mx-0">
                  <div class="col-md-6 col-lg-12 my-auto mx-0 px-0">
                      <div class="course-about-card shadow-lg m-2 bg-white">
                        <script>
                          function show_default_image() {
                            return "${static.url('edx-ucursos-theme/images/default-course.jpg')}";
                          }
                        </script>
                        % if get_course_about_section(request, course, "video"):
                          <a href="#video-modal" class="media" rel="leanModal">
                            <div class="hero">
                              <img src="${course_image_urls['large']}" class="img-fluid course-about-image" alt="image"/>
                              <div class="play-intro"></div>
                            </div>
                          </a>
                        %else:
                          <img src="${course_image_urls['large']}" onerror="this.onerror=null; this.src=show_default_image()" class="img-fluid course-about-image" alt="image" style="width: 100%;"/>
                        % endif
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-12 my-auto mx-0 px-0">

                      <%block name="course_about_header">
                      <div class="course-about-card shadow-lg m-2 p-3 bg-white">
                        % if staff_access and studio_url is not None:
                          <div class="wrap-instructor-info studio-view text-center mb-3">
                            <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
                          </div>
                        % endif
                        %if user.is_authenticated and registered:
                          <p class="font-italic text-center mb-2">${_("You are enrolled in this course")}</p>
                          %if show_courseware_link:
                            <a type="button" class="btn btn-primary text-white btn-lg btn-block mb-2" href="${course_target}">
                              ${_("View Course")}
                            </a>
                          %endif
                        % elif is_course_full:
                          <a type="button" class="register btn btn-dark text-white btn-lg btn-block mb-2 disabled" disabled>${_("Course is full")}</a>
                        % elif invitation_only and not can_enroll:
                        ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
                        ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
                        ## so that they can register and become a real user that can enroll.
                          <center>
                            <span class="badge badge-primary mb-2 p-1">La inscripción a este curso es sólo por invitación</span>
                          </center>
                        % elif not is_shib_course and not can_enroll:
                          <a type="button" class="register btn btn-dark text-white btn-lg btn-block mb-2 disabled" disabled>${_("Enrollment is Closed")}</a>
                        %elif allow_anonymous:
                          %if show_courseware_link:
                            <a type="button" class="btn btn-primary text-white btn-lg btn-block mb-2" href="${course_target}">
                              ${_("View Course")}
                            </a>
                          %endif
                        %else:
                          <% 
                            if ecommerce_checkout:
                              reg_href = ecommerce_checkout_link
                            else:
                              reg_href="#"
                            if single_paid_mode:
                              href_class = "add-to-cart"
                            else:
                              href_class = "register"
                          %>
                          <a href="${reg_href}" type="button" class="${href_class} btn btn-info text-white btn-lg btn-block mb-2">
                            Inscribirse
                          </a>
                          <div id="register_error"></div>
                        %endif
                        <%
                          course_start_date = 'None'
                          if not course.start_date_is_still_default:
                            course_start_date = course.advertised_start or course.start
                            if not isinstance(course_start_date, string_types):
                              course_start_date = course_start_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                            endif
                          endif
                          course_end_date = 'None'
                          if course.end:
                            course_end_date = course.end
                            if not isinstance(course_end_date, string_types):
                              course_end_date = course_end_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                            endif
                          endif
                        %>
                        <table class="table table-borderless mb-0">
                          <tbody>
                            <tr>
                              <th scope="row" class="text-left">${_("Course Number")}</th>
                              <td class="text-right text-uppercase">${course.display_number_with_default | h}</td>
                            </tr>
                            %if course_start_date != "None":
                            <tr>
                              <th scope="row" class="text-left">${_("Classes Start")}</th>
                              <td class="text-right">
                                <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_start_date}" data-language="${LANGUAGE_CODE}"></span>
                              </td>
                            </tr>
                            %endif
                            %if course_end_date != "None":
                            <tr>
                              <th scope="row" class="text-left">${_("Classes End")}</th>
                              <td class="text-right">
                                <span class="important-dates-item-text end-date localized_datetime" data-format="shortDate" data-datetime="${course_end_date}" data-language="${LANGUAGE_CODE}"></span>
                              </td>
                            </tr>
                            %endif
                            % if get_course_about_section(request, course, "effort"):
                              <tr>
                                <th scope="row" class="text-left">${_("Estimated Effort")}</th>
                                <td class="text-right">${get_course_about_section(request, course, "effort")}</td>
                              </tr>
                            % endif

                            %if course_price and (is_cosmetic_price_enabled):
                              <%
                              if course_price != _('Free') and course_price[1:].isdigit():
                                  price_str = '$'+'{0:,d}'.format(int(course_price[1:])).replace(',','.')
                              else:
                                  price_str = course_price
                              %>
                              <tr>
                                <th scope="row" class="text-left">${_("Price")}</th>
                                <td class="text-right">${price_str}</td>
                              </tr>
                            %endif

                            % if pre_requisite_courses:
                              <% prc_target = reverse('about_course', args=[text_type(pre_requisite_courses[0]['key'])]) %>
                              <tr>
                                <th scope="row" class="text-left">${_("Prerequisites")}</th>
                                ## Multiple pre-requisite courses are not supported on frontend that's why we are pulling first element
                                <td class="text-right"><a href="${prc_target}">${pre_requisite_courses[0]['display']}</a></td>
                                <p class="tip">
                                ${Text(_("You must successfully complete {link_start}{prc_display}{link_end} before you begin this course.")).format(
                                  link_start=HTML('<a href="{}">').format(prc_target),
                                  link_end=HTML('</a>'),
                                  prc_display=pre_requisite_courses[0]['display'],
                                )}
                                </p>
                              </tr>
                            % endif

                            % if get_course_about_section(request, course, "prerequisites"):
                              <tr>
                                <th scope="row" class="text-left">${_("Requirements")}</th>
                                <td class="text-right">${get_course_about_section(request, course, "prerequisites")}</td>
                              </tr>
                            % endif
                          </tbody>
                        </table>
                      </div>
                      </%block>
                  </div>
              </div>
          </div>

          <div class="course-info col-lg-7 col-xl-8 order-lg-1 p-3">
              <div class="course-about-card shadow-lg m-2 p-4 bg-white">
                <h1 class="text-left mb-0">${course.display_name_with_default}</h1>
                <p class="course-org font-weight-normal my-2">${course.display_org_with_default}</p>
                <div class="details" style="width: auto; float:none;">
                  <div class="inner-wrapper">
                    ${clean_dangerous_html(get_course_about_section(request, course, "overview"))}
                  </div>
                  <script>
                    $(function() {
                      //$('.faq').prependTo("#accordionFAQS");
                      $("#accordionFAQS").append($('.course-faqs').contents());
                      if($('.course-faqs').length == 0) {
                        $(".faqs-row").hide();
                      }
                    });
                  </script>
                </div>
                <script>
                  $(function() {
                    $(".course-about-card .menu .btn").on("click", function() {
                      // Clear 'active' class
                      $(".course-about-card .menu-content-section").removeClass("active");
                      $(".course-about-card .menu .btn").removeClass("active");
                      // Set 'active' and show
                      $(this).addClass("active");
                      $("#" + $(this).attr("data-section")).addClass("active");
                    });
                  });
                </script>
              </div>
          </div>
      </div>
      <div class="row my-2 faqs-row">
          <div class="col-lg-8 p-3">
              <div class="course-about-card m-2">
                <h3 class="px-4">Preguntas Frecuentes</h3>
                <div class="accordion text-justify mt-3" id="accordionFAQS">
                </div>
              </div>
          </div>
      </div>
  </div>
</main>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${pgettext("self","Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${pgettext('self','enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
