# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<style>
  #content.main-container {
    padding: 0px !important;
    margin: 0px !important;
  }
</style>
<main id="eol-about" aria-label="Content" tabindex="-1" class="static_pages eol-bg w-100 mx-auto mt-0 pt-0" style="background-image: url(${static.url('edx-ucursos-theme/images/bg-eol.png')});">
    <div class="container eol-content-container px-2 pt-2 mx-auto">
        <div class="row">
            <div class="col-lg-8 px-4 text-justify">
                <h1 class="mb-4 text-left">¿Qué es EOL?</h1>
                <p>La Unidad de Educación Online (EOL) de la Dirección de Servicios de Tecnologías de la Información, es una unidad creada con el objetivo de desarrollar capacidades al interior de la Universidad para complementar y enriquecer la práctica docente mediante la aplicación de nuevas tecnologías de educación online. EOL busca contribuir a mejorar el proceso de enseñanza-aprendizaje de los alumnos de la Universidad para todos los niveles de la educación: pregrado, postgrado y educación continua; tanto como complemento de la docencia presencial (b-learning), como para cursos 100 por ciento en línea. La Unidad entrega soporte técnico y pedagógico, proveyendo una plataforma para la gestión del aprendizaje (Learning Management System o LMS), así como también apoyo en diseño instruccional para educación online y en la producción de cursos en este formato. </p>
                <p>La plataforma LMS que ofrece EOL (<a href="https://eol.uchile.cl" target="_blank">https://eol.uchile.cl</a>) se basa en el proyecto de código abierto <a href="https://open.edx.org" target="_blank">Open edX</a>, desarrollado inicialmente por la Universidad de Harvard y el MIT, y clasifica como un sistema de cursos abiertos masivos en línea (Massive Open Online Course, MOOC). Esta característica lo hace estable y escalable para soportar decenas de miles de usuarios. Esta plataforma ha sido implementada y configurada específicamente para el manejo de los cursos de la Universidad, que son privados y con un grupo acotado de alumnos. Para esto se han desarrollado componentes que permiten gestionar de mejor forma el aprendizaje en estas condiciones.</p>
                <p>El proyecto EOL es una iniciativa liderada por la DSTI y la Vicerrectoría de Asuntos Académicos, y desarrollada en conjunto con el Centro de Enseñanza y Aprendizaje (CEA), de la Facultad de Economía y Negocios.</p>
            </div>
            <div class="col-lg-4 d-none d-lg-block pl-5 my-auto">
                <img src="${static.url('edx-ucursos-theme/images/pages/about_image.jpg')}" class="img-fluid" alt="image"/>
            </div>
        </div>
    </div>
</main>
