# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
<h1>Educación Online (EOL)</h1>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> 
EOL es la plataforma de educación online de la Universidad de Chile. Su objetivo es contribuir a mejorar el proceso de enseñanza-aprendizaje de los alumnos de la Universidad para todos los niveles de la educación: pregrado, postgrado y educación continua; tanto como complemento de la docencia presencial (b-learning) como 100 por ciento en línea (e-learning). Entre las funcionalidades de la plataforma están el publicar videoclases, material escrito y podcast, soportar interacción entre alumnos, y gestionar evaluaciones de todo tipo, desde pruebas de selección múltiple, hasta preguntas de respuesta abierta con evaluación entre pares; tanto para cursos pequeños como de alta convocatoria.
</p>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> 
EOL ofrece el servicio de plataforma online a las diferentes unidades académicas, así como también asesoría en la creación de los cursos (diseño instruccional), producción de material (de apoyo/educativo/etc.) y apoyo durante la ejecución de los cursos.
</p>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> 
El proyecto EOL es una iniciativa liderada por la DSTI y la Vicerrectoría de Asuntos Académicos, y desarrollada en conjunto con el Centro de Enseñanza y Aprendizaje (CEA), de la Facultad de Economía y Negocios.
</p>

</main>
