# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
<h1>Preguntas Frecuentes</h1>
<h2 style="color: #47318d; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; margin-bottom: 25px;"> ¿Qué cursos encuentro en EOL? </h2>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> La plataforma de Educación Online de la Universidad de Chile aloja a cursos de pregrado, posgrado y educación continua de la Universidad de Chile.</p>

<h2 style="color: #47318d; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; margin-bottom: 25px;">¿Quién puede tomar cursos en la plataforma EOL? </h2>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">La plataforma está destinada a alumnos de la Universidad de Chile. Los cursos de pregrado y posgrado están destinados a alumnos regulares de la Universidad, mientras que los diplomados y cursos de educación continua deben ser inscritos directamente con las unidades académicas que los dictan. En la descripción de cada curso se indica a quien está dirigido y un email de contacto para inscripciones.</p>

<h2 style="color: #47318d; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; margin-bottom: 25px;"> Soy alumno de posgrado y me interesa uno de los cursos de la plataforma, ¿Qué debo hacer para inscribirme? </h2>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">En la descripción de cada curso se indica un email de contacto para inscribirse en futuras versiones del curso </p>

<h2 style="color: #47318d; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; margin-bottom: 25px;">¿Cuánto cuestan los cursos?  </h2>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> Los cursos de pregrado y posgrado son gratuitos para los alumnos de la Universidad. Los diplomados y cursos de educación continua tienen diferentes costos según el programa. </p>

<h2 style="color: #47318d; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; margin-bottom: 25px;">¿Cómo me inscribo en la plataforma? </h2>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> Los alumnos son inscritos en la plataforma por los equipos docentes. </p>

<h2 style="color: #47318d; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; margin-bottom: 25px;"> Soy profesor de la Universidad de Chile y quiero hacer un curso online, ¿qué tengo que hacer? </h2>

<p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Contactarnos al correo <a href="mailto:eol@uchile.cl" target="_top">eol@uchile.cl</a></b>.</p>

</main>
