<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<style>
  #content.main-container {
    padding: 0px !important;
    margin: 0px !important;
  }
</style>
<div class="eol-main-container d-flex w-100 h-100 flex-column">
  <!-- BANNER -->
  <div class="eol-banner">
    <div id="eol-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#eol-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#eol-carousel" data-slide-to="1"></li>
          <li data-target="#eol-carousel" data-slide-to="2"></li>
          <li data-target="#eol-carousel" data-slide-to="3"></li>
          <li data-target="#eol-carousel" data-slide-to="4"></li>
          <li data-target="#eol-carousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner w-100">
          <div class="carousel-item active" data-interval="3000">
            <img src="${static.url('edx-ucursos-theme/images/banner/banner00.jpg')}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="3000">
            <img src="${static.url('edx-ucursos-theme/images/banner/banner01.jpg')}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="3000">
            <img src="${static.url('edx-ucursos-theme/images/banner/banner02.jpg')}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="3000">
            <img src="${static.url('edx-ucursos-theme/images/banner/banner03.jpg')}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="${static.url('edx-ucursos-theme/images/banner/banner04.jpg')}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="3000">
            <img src="${static.url('edx-ucursos-theme/images/banner/banner05.jpg')}" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#eol-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#eol-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
  <!-- MAIN CONTENT -->
  <main role="main" class="eol-bg w-100 mx-auto" style="background-image: url(${static.url('edx-ucursos-theme/images/bg-eol.png')});">
    <div class="container eol-content-container py-4 mt-4 px-2 mx-auto">
      <%include file="${courses_list}" />
    </div>
  </main>

</div>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script></%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif