## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
import waffle

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<%
  unsupported_browser_alert_versions = configuration_helpers.get_value('UNSUPPORTED_BROWSER_ALERT_VERSIONS', settings.FEATURES.get('UNSUPPORTED_BROWSER_ALERT_VERSIONS'))
%>
% if waffle.switch_is_active('enable_unsupported_browser_alert'):
  <script>
    var $buoop = {
        notify:${unsupported_browser_alert_versions | n, decode.utf8},
        api:5,
        reminder:0
    };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>
% endif

<!--nav class="eol-header-container eol-header navbar navbar-expand-xl navbar-light bg-white">
    % if use_cookie_banner:
        ${static.renderReact(
            component="CookiePolicyBanner",
            id="frontend-component-cookie-policy-banner",
            props={}
        )}
    % endif
    <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#nav-eol-header" aria-controls="nav-eol-header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
    </button>
    % if user.is_authenticated:
        <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
    % else:
        <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
    % endif
</nav-->

% if course:
    <!--div class="eol-course-header container-fluid py-2 px-4">
        <p class="my-0 text-white">
            <span class="provider">${course.display_org_with_default}:</span>
            <span class="course-number text-uppercase">${course.display_number_with_default}</span>
        </p>
        <%
        display_name = course.display_name_with_default
        if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
            ccx = get_current_ccx(course.id)
            if ccx:
                display_name = ccx.display_name
        %>
        <h3 class="my-0 text-white">
            <strong class="course-name">${display_name}</strong>
        </h3>
    </div-->
    <!--[if lte IE 9]>
    <div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
        begin_strong=HTML('<strong>'),
        end_strong=HTML('</strong>'),
        chrome_link=HTML('<a href="https://www.google.com/chrome" rel="noopener" target="_blank">Chrome</a>'),
        ff_link=HTML('<a href="http://www.mozilla.org/firefox" rel="noopener" target="_blank">Firefox</a>'),
    )}</div>
    <![endif]-->
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif
